/***************************************************/
/* National Agroforestry Center                    */
/* Screen Stylesheet, provides css not included in */
/* companion CSS: 960grid.css and typography.css   */
/* Modified by B.Lilly, October 25, 2012           */
/***************************************************/
body{
	background: transparent url(/images/bg-sky.gif) top repeat-x;
	/* font-size: 100%; set by typography.css */
	margin: 0;
	padding: 0;
}

a{
	color: #006699;
}

a:focus{
	outline:thin dotted;
}

/* Page Container */
#container{
	border: 0;
}

/* ********** Header Banner ********** */
/* #header{
	defined in typography.css
} */
#nac{
	float: left;
	margin: 0;
}

#partnership{
	font-size: 1em;
	padding: 11px 5px 11px 0;
}

ul.agencies{
	float: right;
	list-style: none;
	margin: 0;
	width: 261px;
}

ul.agencies li{
	display: block;
	float: left;
}

#fs{
	padding: 0 5px 0 5px;
}

#nrcs{
	padding: 7px 0 6px 5px;
}

/* ********** Navigation ********** */
#navigation{
	height: 63px;
	width: 960px;
}

#navigation ul{
	list-style: none;
	margin: 0;
}

#navigation li{
	display: block;
	float: left;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding-right: 8px;
}

#navigation li a{
	display: block;
	height: auto;
	padding: 10px;
	text-decoration: none;
	width: auto;
}

#navigation li a:hover{
	text-decoration: underline;
}

#navigation li.home a:hover, #navigation li.practices a:hover, #navigation li.research a:hover, #navigation li.issues a:hover, #navigation li.tools a:hover, #navigation li.multimedia a:hover, #navigation li.publications a:hover{
	background: transparent url(/images/highlight.gif) bottom left repeat-x;
	color: #000;
}

/* ***** subnav ***** */
#navigation li ul{
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li > ul li{
	list-style-image: none;
}

#navigation li.home ul, #navigation li.practices ul, #navigation li.research ul, #navigation li.issues ul, #navigation li.tools ul, #navigation li.publications ul, #navigation li.multimedia ul{
	background: #e3edf9;
	border-bottom: 1px solid #ddd;
	height: auto;
	left: 0;
	position: absolute;
	width: 960px;
}

#navigation li.home ul a, #navigation li.practices ul a, #navigation li.research ul a, #navigation li.issues ul a, #navigation li.tools ul a, #navigation li.publications ul a, #navigation li.multimedia ul a{
	background: #e3edf9;
	color: #777;
	font-size: 0.938em;
	font-weight: normal;
	padding: 3px 10px 3px 10px;
	width: auto;
}

#navigation li.home ul a:hover, #navigation li.practices ul a:hover, #navigation li.research ul a:hover, #navigation li.issues ul a:hover, #navigation li.tools ul a:hover, #navigation li.publications ul a:hover, #navigation li.multimedia ul a:hover{
	background: #e3edf9;
}

#navigation li.home:hover ul, #navigation li.practices:hover ul, #navigation li.research:hover ul, #navigation li.issues:hover ul, #navigation li.tools:hover ul, #navigation li.publications:hover ul, #navigation li.multimedia:hover ul{
	display: block;
	z-index: 100;
}

/* ********** Breadcrumb ********** */
#breadcrumb{
	background: #FFF;
	padding: 0.625em 0 2em 0;
}

#breadcrumb .crumbStyle{
	background-color: transparent;
	color: #006699;
	font-size: 0.938em;
}

#breadcrumb a{
	background-color: transparent;
	color: #006699;
}

#breadcrumb a:link,
#breadcrumb a:visited{
	background-color: transparent;
	color: #006699;
}

#breadcrumb a:hover{
	color: #000;
}

/* ********** Content ********** */
#content{
	background: #fff;
}

/* ***** feature (left column) ***** */
#feature{
	background: #fff;
}

#feature h2{
	font-size: 1.1em;
	padding: 0;
}

#feature p{
	font-size: 0.875em;
}

#feature p.subnav,
#feature ul.subnav li{
	font-size: 1em;
}

#feature ul.acquire {
	padding-bottom: 10px;
}

#feature ul li {
	font-size: 0.875em;
	padding: 0 0 0.625em 0;
}
#feature li > ul li {
	font-size: 1em;
}

#feature li.pdf,
#feature li.ppt{
	font-size: 0.875em;
}

.featurecaps, .maincaps{
	color: #036;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

ul.subscribe{
	list-style: none;
	margin-left: 0;
}

/* ***** main content ***** */
#main{
	background: #FFF;
	border-left: 1px solid #e3edf9;
	padding-left: 8px;
	padding-bottom: 20px;
}

h2.underline{
	border-bottom: #069 solid 1px;
	clear: both;
	padding-bottom: 0.25em;
}

#main ul li{
	padding: 0 0 0.5em 0;
}

/* ** image treatments ** */
img.framedphoto, img.framedcaption, img.framedright{
	border: 1px solid #e3edf9;
	padding: 3px;
}

img.framedcaption{
	margin-bottom: 5px;
}

img.framedright{
	float: right;
	margin: 0 0 15px 20px;
}

/* image boxes */
div.thumbnail-wrapper {
	margin: 0.625em 0 0.625em 0;
	padding: 0;
	overflow: hidden;
}

.img-caption{
	font-size: 0.938em;
}

.img-pageWide{
	margin: 0 0 1.25em 0;
}

.img-float-left{
	float: left;
	margin: 0.625em 0.625em 0.625em 0;
	padding: 0;
}

.img-float-right{
	float: right;
	margin: 0 0 0.625em 0.625em;
	padding: 0;
}

.img-float-left-150{
	float: left;
	margin: 0.625em 0.313em 0.625em 0;
	padding: 0;
	width: 150px;
}

.img-float-right-150{
	float: right;
	margin: 0.625em 0 0.625em 0.625em;
	padding: 0;
	width: 152px;
}

.img-float-left-200{
	float: left;
	margin: 0.625em 0.625em 0.625em 0;
	padding: 0;
	width: 202px;
}

.img-float-right-200{
	float: right;
	margin: 0.625em 0 0.625em 0.625em;
	padding: 0;
	width: 202px;
}

.img-float-left-250{
	float: left;
	margin: 0.625em 0.625em 0.625em 0;
	padding: 0;
	width: 252px;
}

.img-float-right-250{
	float: right;
	margin: 0.625em 0 0.625em 0.625em;
	padding: 0;
	width: 252px;
}

.img-no-float{
	margin: 0 0 0.625em 0;
}

.img-float-left p,
.img-float-right p,
.img-float-left-150 p,
.img-float-right-150 p,
.img-float-left-200 p,
.img-float-right-200 p,
.img-float-left-250 p,
.img-float-right-250 p,
.img-no-float p,
.img-pageWide p{
	font-size: 0.938em;
}

.wrapper-img{
	margin: 0 0 0.625em 0;
	overflow: hidden;
	padding: 0;
}

/* image borders */
.black-1px{
	border: 1px solid #000000;
}

.black-2px{
	border: 2px solid #000000;
}

.black-3px{
	border: 3px solid #000000;
}

/* ** list treatments ** */
ul{
	list-style-image: url(https://preview.c9users.io/bonez0607/interactive-map/images/bullets/primary.gif);
}

li > ul li{
	list-style-image: url(/images/bullets/secondary.gif);
}

li > ol li{
	list-style-type: lower-alpha;
}

ul.feed {
	float: right;
	list-style: none;
	margin: 0 0 10px 0;
}
ul.feed li{
	display: inline;
	margin: 0 0 10px 0;
	padding: 0;
}

a.rss2point0{
	background-image: url(/images/bullets/feed.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.whatisrss{
	background-image: url(/images/bullets/whatisrss.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 0 2px 20px;
	white-space: nowrap;
}

ul.phonefax{
	/* list-style: none;
	padding: 0.313em 0 0 0.75em; */
	margin-left: 1.875em;
}

li.phone{
	list-style-image: url(/images/bullets/phone.gif);
	padding: 0;
/* 	background: transparent url(/images/bullets/phone.gif) top left no-repeat;
	background-position: 0 4px; */
}

li.fax{
	list-style-image: url(/images/bullets/fax.gif);
	/* background: transparent url(/images/bullets/fax.gif) top left no-repeat;
	background-position: 1px 3px; */
}

/* ***** document download list ***** */
ul.acquire{
	list-style: none;
	margin-bottom: 20px;
	margin-left: 0;
}

ul.acquire li{
	display: inline;
	padding: 0 5px 5px 0;
}

ul.nolist {
	list-style: none;
	list-style-image: none;
	margin: 0;
}

/* ** document links ** */
a.fax{
	background-image: url(/images/bullets/fax.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 5px 20px;
	white-space: nowrap;
}

a.order{
	background-image: url(/images/bullets/order.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.pdf{
	background-image: url(https://preview.c9users.io/bonez0607/interactive-map/images/bullets/pdf.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 5px 20px;
	white-space: nowrap;
}

a.ppt{
	background-image: url(/images/bullets/ppt.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.qt{
	background-image: url(/images/bullets/qt.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.wmv{
	background-image: url(/images/bullets/wmv.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.word{
	background-image: url(/images/bullets/word.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.xls{
	background-image: url(/images/bullets/xls.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

a.zip{
	background-image: url(/images/bullets/zip.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 20px;
	white-space: nowrap;
}

.alert, .required{
	color: #f00;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.red{
	color:#F00;
}

.blue{
	color:#00F;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.unavailable {
	color:#999999;
}

/* ** form styles ** */
/* #nacform{
	width: 240px;
} */

fieldset.product1{
	border: 1px solid #ced7e2;
	display: block;
	/* float: left; */
	margin: 15px 0 15px;
	padding: 0.938em;
	width: 420px;
}

fieldset.product2{
	border: 0px solid;
	display: block;
	/* float: left; */
	margin: 10px 0 5px 0;
	padding: 10px 0;
	width: 420px;
}

fieldset.customer{
	border: 1px solid #ced7e2;
	display: block;
	/* float: left; */
	margin: 0 0 0.625em 0;
	padding: 0.938em;
	overflow: hidden;
	width: 420px;
}

legend{
	font-size: 1em;
	font-weight: bold;
	padding: 0 5px 0;
}

legend.product2check{
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 5px 0 20px;
}

legend.product2text{
	font-size: 1em;
	font-weight: bold;
	padding: 0 5px 0 41px;
}

label{
	display: block;
	text-align: left;
}

label.add{
	/* float: left; */
	font-size: 0.875em;
	line-height: 140%;
	margin: 0 0 3px 20px;
	padding-top: 22px;
}

label.contact{
	font-size: 0.875em;
	line-height: 140%;
	margin-top: 8px;
}

label.customer{
	clear: both;
	float: left;
	font-size: 0.875em;
	line-height: 140%;
	margin-right: 10px;
	width: 120px;
}

label.customerradio{
	/* clear: both;
	float: left;*/
	display: inline;
	font-size: 0.875em;
	/* line-height: 160%;
	margin-right: 10px; */
	margin: 0 5px 0 5px;
	padding: 0;
	width: 20px;
}

label.homeaddress{
	/* float: left; */
	clear:both;
	font-size: 0.875em;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
	/* width: 380px; */
}

label.product1{
	font-size: 0.875em;
	line-height: 150%;
	margin: 2px 0 3px 20px;
}

label.product2{
	font-size: 0.875em;
	line-height: 160%;
	margin: 0 10px 6px 41px;
}

label.unavailable{
	color: #999;
	font-size: 0.875em;
	line-height: 150%;
	margin: 0 10px 6px 41px;
}

label.error{
	color: red;
	float: none;
	padding: 2px 0 10px 0;
	vertical-align: top;
}

.checkbox{
	clear: both;
	display: block;
	float: left;
	margin: 2px 5px 2px 0;
}

.addcheck{
	clear: both;
	float: left;
	margin: 25px 10px 0 0;
	width: 15px;
}

#homecheck{
	clear: both;
	float: left;
	margin: 10px 10px 0 0;
	width: 15px;
}

		
textarea{
	height: 10em;
	margin: 3px 0;
}

input.contactinput, input.contactcomments, textarea, select{
	background: #fff;
	border: 1px solid #ced7e2;
	margin: 0;
	width: 100%;
}

input.contactinput, input.contactcomments, input.customerinput {
	font-size: 0.875em;
}

textarea,
textarea.customercomments,
input.customercomments {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.875em;
}

input.customerinput, input.customercomments, textarea.customercomments, select{
	background: #fff;
	border: 1px solid #ced7e2;
	float: left;
	margin: 0 0 5px 0;
	vertical-align: top;
	width: 280px;
}

input.customerradio {
	/* float: left; */
	margin: 0 5px 0 0;
	padding: 0;
	width: 20px;
}

input.productinput{
	background: #fff;
	border: 1px solid #ced7e2;
	clear: both;
	display: block;
	float: left;
	font-size: 0.875em;
	margin: 0 10px 5px 0;
	width: 2.5em;
}
select.productinput {
	background: #fff;
	border: 1px solid #ced7e2;
	clear: both;
	display: block;
	float: left;
	font-size: 0.875em;
	margin: 0 10px 5px 0;
	width: 3.125em;
}

input.contactcomments, input.customercomments{
	height: 10em;
}

input.submitbutton, input.resetbutton{
	background: #f1f6fc;
	border: 1px solid #ced7e2;
	color: #777;
	float: right;
	font-size: 1em;
	margin: 10px 5px 0 15px;
	padding: 0.313em;
}

input:focus, select:focus, textarea:focus{
	background: #f1f6fc;
}

input.required{
	color: #000;
}

input.search{
	width:165px;
}
input.button{
	padding:1px;
}

table.data {
	border: #E3EDF9 solid 1px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0.625em 0 1.125em 0;
}

caption {
	font-weight: bold;
	padding: 0 0 0.313em 0;
	text-align: left;
}

table.data td, 
table.data th {
	padding: 0.313em;
	font-size: 1em;
	line-height: 1.5em;
}

table.data th {
	background-color: #E3EDF9;
	font-weight:bold;
	text-align:center;
	vertical-align:bottom;
}

table.data td {
	/* background-color:#FFFFFF; */
	border: #E3EDF9 solid 1px;
	vertical-align:top;
}

/* ********** right column ********** */
#rightcol div.box {
	margin-bottom: 10px;
	border: 1px solid #E3EDF9;
	background-color: #F1F6FC;
}
#rightcol h2 {
	margin: 0;
	padding: 5px;
	background: #E3EDF9;
	border-bottom: #CCC solid 1px;
	color: #006699;
	font-size: 1.125em;
}
#rightcol h3 {
	border-bottom:#CCC dotted 1px;
	color: #000;
	font-size:1.125em;
	margin: 10px 5px 0 5px;
	padding: 0 0 3px 0;
}
#rightcol .box form {
	margin: 0;
	padding: 5px 5px 5px 5px;
}
#rightcol .box p {
	margin: 0;
	padding: 5px 5px 5px 7px;
	font-size: 0.875em;
}
#rightcol select {
  /* font-size:0.75em; */
  width:175px;
}
#rightcol .box ul {
	margin: 5px 5px 5px 22px;
	padding: 0;
	list-style: disc;
	list-style-image:none;
}
#rightcol .box li {
	font-size: 0.875em;
	/* margin: 3px 0; */
	padding: 0 0 5px 0;
}

/* ********** footer ********** */
/* ***** about top silhouette ***** */
#about{
	background: url(/images/landscape.gif)  top repeat-x;
	padding-top: 63px;
	width: 100%;
}

/* about background color & bottom curves */
#curve{
	background: #cdddcc url(/images/curve.gif) bottom repeat-x;
	padding-bottom: 20px;
	padding-top: 40px;
	width: 100%;
}

/* about styles */
#about p{
	color: #003300;
	font-size: 0.875em;
}

#about h2{
	color: #336633;
}

#about li{
	color: #003300;
	font-size: 0.875em;
	padding: 0 0 0.625em 0;
}

ul.practices{
	list-style-image: url(/images/bullets/tree.gif);
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}

ul.nacinfo{
	list-style: none;
}

a.maps{
	background-image: url(/images/bullets/map.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 0 2px 30px;
	white-space: nowrap;
}

a.contact{
	background-image: url(/images/bullets/contact.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 0 2px 20px;
	white-space: nowrap;
}

/* back to top */
#about p.backtotop{
	background: url(/images/bullets/backtotop.gif) right no-repeat;
	font-size: 1em;
	margin-bottom: 0;
	padding-right: 16px;
	text-align: right;
}

#footer{
	padding-top: 1.5em;
}

#footer p{
	font-size: 0.938em;
}

#leftfoot{
	text-align: left;
}

#rightfoot{
	text-align: right;
}
